html {
  font-family: sans-serif;
  font-size: 10pt;
  color: #fff;
}

body {
  background-color: #222;
}

hr {
  height: 1px;
  width: 90%;
  border-width: 0;
  color: gray;
  background-color: gray;
}

span.winning {
 color: #bfb; 
}

span.losing {
 color: #fbb;   
}

table.board {
  border: 0.1em solid black;
  border-collapse: collapse;
  padding: 0;
  font-family: monospace;
  color: #000;
}

td.rack {
  border: 0.1em solid #cca;
  width: 1.5em;
  height: 1.5em;
  background-color: #ffd;
  text-align: center;
  vertical-align: middle;
  font-family: monospace;
  color: #000;
  border-radius: 5px !important;
}

td {
  border: 0.1em solid #333;  
  padding: 0;
  width: 1.5em;
  height: 1.5em;
}

td.tile {
  background-color: #ffd;
  text-align: center;
  vertical-align: middle;
}

td.blank {
  color: red;
}

td.e {
  background-color: #445;
}

td.c {
  background-color: #674564;
}

td.tw {
  background-color: #823c40;
}

td.dw {
  background-color: #b67320;
}

td.tl {
  background-color: #4964a8;
}

td.dl {
  background-color: #729c68;
}
