html {
  font-family: sans-serif;
}

body {
  background-color: #eef;
}

table.board {
  border: 0.1em solid black;
  border-collapse: collapse;
  padding: 0;
  font-family: monospace;
}

td.rack {
  border: 0.1em solid #cca;
  width: 1.5em;
  height: 1.5em;
  background-color: #ffd;
  text-align: center;
  vertical-align: middle;
  font-family: monospace;
}

td {
  background-color: #445;
  border: 0.1em solid black;  
  padding: 0;
  width: 1.5em;
  height: 1.5em;
}

td.tile {
  background-color: #ffd;
  text-align: center;
  vertical-align: middle;
}

td.blank {
  color: red;
}

td.tw {
  background-color: #823c40;
}

td.dw {
  background-color: #b67320;
}

td.tl {
  background-color: #4964a8;
}

td.dl {
  background-color: #729c68;
}

